## all ignore
/*
/.**

## not ignore
!/.aws/
/.aws/**
!/.aws/config
!/.bin/
!/.cargo/
/.cargo/**
!/.cargo/.crates.toml
!/.cargo/.crates2.json
!/.cargo/env
!/.config/
/.config/**
!/.config/create-next-app-nodejs/
!/.config/create-next-app-nodejs/config.json
!/.config/gcloud/
!/.config/gcloud/configurations/
!/.config/gcloud/configurations/*
!/.config/gitmoji-nodejs/
!/.config/gitmoji-nodejs/config.json
!/.config/lazydocker/
!/.config/lazydocker/config.yml
!/.config/lazygit/
!/.config/lazygit/config.yml
!/.config/mise/
!/.config/mise/config.toml
!/.config/nvim/
!/.config/nvim/**
!/.config/starship.toml
!/.config/systemd/
!/.config/systemd/user/
!/.config/systemd/user/default.target.wants/
!/.config/systemd/user/default.target.wants/wsl-wayland-symlink.service
!/.config/systemd/user/wsl-wayland-symlink.service
!/.gemini/
/.gemini/**
!/.gemini/GEMINI.md
!/.gemini/settings.json
!/sound/
!/sound/**
!/.bash_aliases
!/.bash_logout
!/.bashrc
!/.gitconfig
!/.profile
!/.ripgreprc
!/.tmux.conf
!/.viminfo

!/PowerShell/
/PowerShell/**
!/PowerShell/Scripts/
!/PowerShell/Scripts/*.bat
!/PowerShell/*.ps1
!/winget/
/winget/**
!/winget/settings.json

!/README.md
!.gitignore
!.gitkeep

