## all ignore
/*
/.**

## not ignore
!/.aws/
/.aws/**
!/.aws/config
!/.bin/
!/.bin/claude-statusline.mjs
!/.cargo/
/.cargo/**
!/.cargo/.crates.toml
!/.cargo/.crates2.json
!/.cargo/env
!/.config/
/.config/**
!/.config/create-next-app-nodejs/
!/.config/create-next-app-nodejs/config.json
!/.config/gcloud/
!/.config/gcloud/configurations/
!/.config/gcloud/configurations/*
!/.config/gitmoji-nodejs/
!/.config/gitmoji-nodejs/config.json
!/.config/lazydocker/
!/.config/lazydocker/config.yml
!/.config/lazygit/
!/.config/lazygit/config.yml
!/.config/mise/
!/.config/mise/config.toml
!/.config/nvim/
!/.config/nvim/**
!/.config/claude-code/
!/.config/claude-code/**
!/.config/starship.toml
!/.config/systemd/
!/.config/systemd/user/
!/.config/systemd/user/default.target.wants/
!/.config/systemd/user/default.target.wants/wsl-wayland-symlink.service
!/.config/systemd/user/wsl-wayland-symlink.service
!/.claude/
/.claude/**
!/.claude/settings.json
!/.claude/rules/
!/.claude/rules/**
!/.gemini/
/.gemini/**
!/.gemini/GEMINI.md
!/.gemini/settings.json
!/etc/
!/sound/
!/usr/
!/.bash_aliases
!/.bash_logout
!/.bashrc
!/.gitconfig
!/.profile
!/.ripgreprc
!/.tmux.conf

!/PowerShell/
/PowerShell/**
!/PowerShell/Scripts/
!/PowerShell/Scripts/*.bat
!/PowerShell/*.ps1
!/winget/
/winget/**
!/winget/settings.json

!/CLAUDE.md
!/GEMINI.md
!/RULES.md
!/README.md
!.gitignore
!.gitkeep

